<footer class="bg-(--color-surface) px-6 py-8 md:px-8 md:py-6 gap-6">
  <div class="lg:container lg:mx-auto lg:px-16 gap-6 flex flex-col items-start">
      <h3 
        class="text-3 text-(--color-text) font-bold">
        The Artemis diary
      </h3>

      <p
        class="
        label
        uppercase text-(--color-text-secondary)
        leading-tight 
        text-3
        "
      >
        © 2026 NASA · ARTEMIS II EDITORIAL<span class="hidden md:inline"> — IMAGERY COURTESY OF NASA / JOHNSON SPACE CENTER</span>
      </p>
    </div>
</footer>