---
import type { Post } from "../types/post";
import PostCard from "./PostCard.astro";

const base = import.meta.env.BASE_URL.replace(/\/$/, "");

const res = await fetch("http://localhost:3000/api/v1/posts");

const posts: Post[] = await res.json();
---

<ul class="list-none p-0 m-0 grid grid-cols-1 gap-0 md:grid-cols-3 md:auto-cols-[480px]">
    {
        posts.map((post: Post, index: number) => (
            <li class={`min-h-0 ${index === 0 ? "md:col-span-2 md:row-span-2" : ""}`}>
                <PostCard
                    post={post}
                    base={base}
                />
            </li>
        ))
    }
</ul>
