---
import base from "../lib/base";
---

<header
  class="py-4 px-5 flex items-center bg-(--color-header-bg) border-b border-(--color-header-line)"
>
  <div class="w-full lg:container lg:mx-auto lg:px-16">
  <a
      href={`${base}/`}
      aria-label="Ir al inicio"
      class="inline-block rounded-sm
      focus-visible:outline-2
      focus-visible:outline-offset-4
      focus-visible:outline-(--color-accent-blue)"
    >
      <img
        src={`${base}/images/artemis-logo.png`}
        class="h-10 w-auto"
        alt="The Artemis Diary"
      />
    </a>
  </div>
  
</header>
