---
import RelatedArticlesList from "../components/RelatedArticlesList.astro";
import type { Post } from "../types/post";

interface Props {
    posts: Post[];
}

const { posts } = Astro.props;
---

<aside aria-label="Artículos relacionados ">
	<header class="flex flex-col pt-12 pb-16 px-6 border-(--color-border) gap-2">
		<p class="
		font-medium leading-tight tracking-widest uppercase text-(length:--label) text-(--color-accent-gold)"
		>CONTINUE READING</p>
		<h3
			class="heading-h3 font-normal lg:font-bold leading-snug lg:tracking-tight  text-(--color-text)"
		>
			Related stories
		</h3>
	</header>
	<RelatedArticlesList posts={posts} />
</aside>
