---
import RelatedArticlesList from "../components/RelatedArticlesList.astro";	
import type { Post } from '../types/post';

interface Props {
	posts: Post[];
	base: string;
	localImg: (src: string) => string;
}

const { posts, base, localImg } = Astro.props;
---

<aside aria-label="Artículos relacionados">
	<header class="mb-[var(--space24)] border-t border-[var(--color-border)] pt-[var(--space24)]">
		<p class="label ">CONTINUE READING</p>
		<h2 class=" mb-[var(--space24)]">Related stories</h2>
	</header>
	<RelatedArticlesList posts={posts} base={base} localImg={localImg} />
</aside>


<style>
	h2 {
		font-size: 2rem;
	}
	.label {
		font-size: 0.875rem;
		text-transform: uppercase;
		letter-spacing: 0.1em;
		color: #d4a574;
		margin-bottom: var(--space-sm);
		font-weight: 600;
	}
</style>
