---
import type { Post } from '../types/post';
import PostCard from './PostCard.astro';


interface Props {
	posts: Post[];
}
const { posts } = Astro.props;
---
<nav>
    <ul class="grid-3">
		{posts.map(relatedPost => (
			<li>
				<PostCard post={relatedPost} isRelated={true} />
			</li>
		))}
    </ul>
</nav>
<style>
	.grid-3 {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
		gap: 0;
		list-style: none;
	}
</style>