---
import RelatedArticlesList from "../components/RelatedArticlesList.astro";
import type { Post } from "../types/post";

interface Props {
	posts: Post[];
	base: string;
}

const { posts, base} = Astro.props;
---

<aside aria-label="Artículos relacionados ">
	<header
		class="flex flex-col
				pt-(--space48)
				pb-(--space64)
				px-(--space24)
				border-(--color-border)
				gap-(--space8)"
			>
		<p class="
		font-medium
		leading-[120%]
		tracking-[1.6px]
		uppercase
		text-(length:--fs-label)
		text-(--color-accent-gold)"
		>CONTINUE READING</p>

		<h3 class="leading-[130%] tracking-[-0.3px] font-bold text-(length:--fs-heading-h3) text-(--color-text)" >Related stories</h3>

	</header>
	<RelatedArticlesList posts={posts} base={base} />
</aside>
