---
import H3 from "../atoms/H3.astro";
---

<footer class="bg-(--color-surface) pt-8 pb-12 px-6 lg:p-16">
  <div class="lg:container flex flex-col items-start gap-4 lg:gap-6">
    <H3 type="footer">
      The Artemis diary
    </H3>
    
    <p class="label uppercase text-(--color-text-secondary) leading-tight">
      © 2026 NASA · ARTEMIS II EDITORIAL<span class="hidden md:inline"> — IMAGERY COURTESY OF NASA / JOHNSON SPACE CENTER</span>
    </p>
  </div>
</footer>