---
import { h3Variants, type H3Variants } from "../../utils/variants";

interface Props {
  type: H3Variants;
}

const { type = "footer" } = Astro.props as Props;
---

<h3 class={`heading-h2 text-(--color-text) ${h3Variants[type]}`}>
  Título
</h3>
