---
interface Props {
  type: "hero" | "related";
}
const { type = "hero" } = Astro.props;
const queClasesAplicar = type === "hero" ? "" : "tracking-widest ";
---

<p class={`label uppercase text-(--color-accent-gold) ${queClasesAplicar}`}>
  <slot />
</p>
